<h1> New Genre </h1>


<%= form_with model: @genre do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <h2> Create Anime: </h2>

    <%= f.fields_for :animes do |a| %>
        <%= a.label :title %>
        <%= a.text_field :title %> <br><br>

        <%= a.label :content %>
        <%= a.text_area :content %>
    <% end %>

    <%= f.submit%>

<% end %>