<h1> Login Page: </h1>


<%= form_with url: login_path do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email %> 
    <%= f.label :username %>
    <%= f.text_field :username %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.submit 'Login' %>
<% end %>
