<% if @anime.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@anime.errors.count, "error") %> prohibited this User from being saved:</h2>

    <ul>
      <% @anime.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<%= form_with model: [@genre, @anime] do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %><br><br>

    <%= f.label :content %>
    <%= f.text_area :content %><br><br>

    <%= f.hidden_field :user_id, value: current_user.id %>
    

    <% if @genre %>
        Genre: <%= f.label @genre.name %><br>
        
        <%= f.hidden_field :genre_id, value: @genre.id %>       
       
    <% else %>    
        <h4> Add the Genre </h4> 
        <%= f.fields_for :genre do |g| %> 
            <%= g.label :genre_name %>:
            <%= g.text_field :name %>
        <% end %>       
            or 
        <%= f.collection_select(:genre_id, Genre.all, :id, :name, include_blank: "select") %><br>

    <% end %>


    <%= f.submit %>



<% end %>