<h1>Animes#new</h1>
<p>Find me in app/views/animes/new.html.erb</p>



<h1> Add Your Favorite Anime/Cartoon! </h1>

<%= form_with model: @anime do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %><br><br>

    <%= f.label :description %>
    <%= f.text_area :description %><br><br>

    <%= f.label :genre %>
    <%= f.text_field :genre %>

    <%= f.submit %>



<% end %>


