<h1>Animes#show</h1>
<p>Find me in app/views/animes/show.html.erb</p>

<h3> Title: <%= @anime.title%> </h3>
    Content: <%= @anime.content %><br>
    Genre: <%= @anime.genre.name %><br>


<% if @correct_user%>
<%= link_to "Edit", edit_anime_path(@anime) %>
<%= link_to "Delete", anime_path(@anime), method: :delete, data: { confirm: 'Are you sure you want to delete this?' }%>
<% end %>