
<ul class="center"> 
<h3> Title:<br> 
<%= @anime.title%> </h3>
<h3> Genre:</h3> <%= @anime.genre.name %><br><br>

<h3> Content:</h3> <%= @anime.content %><br> 




<%= edit_link %>  <%= delete_link %>
</ul>