<!DOCTYPE html>
<html>
  <head>
    <title>ToonWeb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <center>

    <div>
    <br>
      <% if logged_in? %>
      <h1> ToonWeb </h1>
        <%= link_to "Add New Anime", new_anime_path %> |
        <%= link_to "All Animes", animes_path %> | 
        <%= link_to "All Genres", genres_path %> |
        <%= link_to "All Users", users_path %> | 
        <%#= link_to "My Anime List", user_animes_path(@current_user)%>
        <%= my_animes_link %>
        <h3> Hello <%= @current_user.username %>! </h3>

        <%= button_to "Log Out", logout_path %>
      <%# else %>
        <%#= button_to "Log In", login_path %><%#= button_to "Sign Up", signup_path(@user) %><br>
    <% end %>
        
      
    </div>


    <div>
      <% if flash[:message] %>
        <%= flash[:message] %>
      <% end %>
      <%= @error || @error1 || @error2 || @error3 %>
      
    
     <%# @current_user_error = "You are not allowed to make those previous changes. Here is where you can."%>
    </div>

    <%= yield %>
   </center>
  </body>
</html>
