<!DOCTYPE html>
<html>
  <head>
    <title>ToonWeb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div>
    <br>
      <% if logged_in? %>
        <%= link_to "Add Anime", new_anime_path %> |
        <%= link_to "All Animes", animes_path %> | 
        <%= link_to "All Genres", genres_path %>
        <%= button_to "Log Out", logout_path %>
      <% else %>
        <%= button_to "Log In", login_path %><%= button_to "Sign Up", new_user_path(@user) %><br>
      <% end %>
    </div>


    <div>
      <% if flash[:message] %>
        <%= flash[:message] %>
      <% end %>
      <%= @error %>


    </div>

    <%= yield %>
  </body>
</html>
